---
layout: default
body_class: post-template
---
{% if page.image %}
<div id="feature_image">
  <div class="inner" style="background-image: url('{{ site.baseurl }}/content/images//{{ page.image }}')">
    <img src='{{ site.baseurl }}/content/images/{{ page.image }}'>
    </div>
</div>
{% endif %}

<article role="main" class="{% if page.image %}image{% endif %}">
    <header>
      <a href="{{ site.baseurl }}/" id="home_link">«</a>
      <div class="meta"><time datetime="{{ page.date | date:'%Y-%m-%d' }}"><a href="{{ page.url }}">{{ page.date | date: "%B %d, %Y" }}</a></time>
        <span class="count" id="js-reading-time">&nbsp;</span>
      </div>
      <h1>{{ page.title }}</h1>
    </header>

    <div class="text" id="js-post-content">
        {{ content }}
    </div>

    <menu>
    	<div class="jiathis_style_32x32">
			<a class="jiathis_button_weixin"></a>
			<a class="jiathis_button_tsina"></a>
			<a class="jiathis_button_renren"></a>
			<a class="jiathis_button_qzone"></a>
			<a class="jiathis_button_tqq"></a>
			<a class="jiathis_counter_style"></a>
		</div>
		
      <a href="http://www.jiathis.com/share" id="btn_share">
        <span aria-hidden="true"></span>
        <strong></strong>
      </a>
    </menu>


    {% include footer.html %}

</article>

<!-- JiaThis Button BEGIN -->
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
<!-- JiaThis Button END -->

<script>
window.onload = function () {
  reading_time();
}
function get_text(el) {
  ret = "";
  var length = el.childNodes.length;
  for(var i = 0; i < length; i++) {
    var node = el.childNodes[i];
    if(node.nodeType != 8) {
      ret += node.nodeType != 1 ? node.nodeValue : get_text(node);
    }
  }
  return ret;
}
function reading_time () {
  var post_content = document.getElementById('js-post-content');
  if (post_content) {
    var words = get_text(post_content),
      count = words.split(/\s+/).length,
    read_time = Math.ceil((count / 150)),
        read_time_node = document.createTextNode(read_time + ' min read');
    document.getElementById('js-reading-time').appendChild(read_time_node);
  }
}
$(function(){
  var share_modal = $("#share_modal"),
  update_social_links = true;

  $("#btn_share").click(function(){
    var that = $(this);
    share_modal.fadeIn(200);
    return false;
  });

  share_modal.click(function(e){
    if (e.target.className == "wrap" || e.target.id == "share_modal") {
      share_modal.fadeOut(200);
    }
    return false;
  });

  share_modal.find("div.inner > header > a.close").click(function(){
    share_modal.fadeOut(200);
    return false;
  });
});
</script>
